Handling of "Bidi Domain Name"s

This is stupid, but if a domain is a "Bidi Domain Name" (which runs on the whole domain, and not each label), then the algorithm on each label may change if `CheckBidi` is present.

So we can't trivially go and check bidi for each label of the domain normally, and if all pass we're good. No, we have to do 2 passes.

Well, we don't have to. We can just record that we have failed bidi, and keep going until we find out that we have a "Bidi Domain Name" on our hands, and re-evaluate the failed status.

So, this code needs to keep track of why we failed the criteria:

```cpp
                    if (!is_label_valid<Options>(lbeg, lend)) [[unlikely]] {
                        status |= to_underlying(failed_validity_criteria);
                    }
```

and it needs re-evaluate why we failed later on as well if `CheckBidi` is present.

So, we need to know why `is_label_valid` fails essentially.

And if it's because of bidi failure, **but then turns out that the domain is not a "Bidi Domain Name"**, then we can remove the bidi failure.

Because of this rule:

> If CheckBidi, and if the domain name is a Bidi domain name, then the label must satisfy all six of the numbered conditions in [[IDNA2008](https://www.unicode.org/reports/tr46/#IDNA2008)] RFC 5893, Section 2.

We have an opportunity to optimize a bunch of stuff here as well.

Like this for exmaple:

```cpp

                        // 1.4.3. If the label is empty, or if the label contains only ASCII code points,
                        // record that there was an error.
                        if (new_label_len == 0) [[unlikely]] {
                            status |= to_underlying(empty_punycode);
                        }
                        if (is_ascii(lbeg, lend)) [[unlikely]] {
                            status |= to_underlying(ascii_only_punycode);
                        }

                        if (!is_normalized<norm_form::NFC>(lbeg, lend)) [[unlikely]] {
                            status |= to_underlying(non_normalized_punycode);
                        }

                        if (requires_idna_mapping(lbeg, lend)) [[unlikely]] {
                            status |= to_underlying(punycode_requires_idna_mapping);
                        }
```

I've fixed the issue, let's go to parent.